
<h1>Featured Artists</h1>
<div class="mainartists">
    <a href="/artists/1" ><img src="/assets/damienmartin/zombies.jpg" width="263" height="300" title="Damien Martin" /></a>
<p><a href="/artists/1">Damien Martin</a></p>
</div>

<div class="mainartists">

 
    <a href="/artists/4" ><img src="/assets/esthermoline/dublinwoman.jpg" width="263" height="300" title="Esther Moline" /></a>
<p><a href="/artists/4" >Esther Moline</a></p>
</div>

<div class="mainartists">

     <a href="/artists/5" ><img src="/assets/denisenestor/Churchill.jpg" width="263" height="300" title="Denise Nestor" /></a>
<p><a href="/artists/5" >Denise Nestor</a></p>
    
</div>

<br clear="all" />

<div class="mainartists">	

 
    <a href="/artists/6" ><img src="/assets/leepitman/villain2.jpg" width="263" height="300" title="Lee Pitman" /></a>
<p><a href="/artists/6" >Lee Pitman</a></p>
</div>

<div class="mainartists">

 
    <a href="/artists/7" ><img src="/assets/roonio/TellyBear.jpg" width="263" height="300" title="Roonio" /></a>
<p><a href="/artists/7" >Roonio</a></p>
</div>

<div class="mainartists">

 
    <a href="/artists/8" ><img src="/assets/emmarowe/madam.jpg" width="263" height="300" title="Emma Rowe" /></a>
<p><a href="/artists/7" >Emma Rowe</a></p>
</div>

